{% extends 'layouts/layout.html'%}

{% block title%}
    <h1>{{title}}</h1>
{% endblock%}


{% block content%}
{% comment "" %}Mostrar errores del form{% endcomment %}

{{form.errors}}

<form method = 'post' action = ''>
    {% csrf_token %}

    {% comment "" %}
    personalizar formulario (para que no aparescan los textos y 
    solo aparescan los campos, podemos recorrer los objetos del form)
    {{form.as_p}}
    {% endcomment %}
    {%for field in form%}
       <label> {{field.label}}</label>
        {{field}}
    {%endfor%}
    <input type='submit' value='registrarse'/>
</form>
{% endblock %}