{% load static %}
<!DOCTYPE html>
<html lang = es>
    <head>
        <meta charset="utf-8" />
        <title>sitio web django valentina carrillo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
        <header>
            <div id="logotipo">
            <img src="{%static 'images/logo.png'%}"></img>
            <h1>sitio web con django</h1>
            </div>
        </header>

        <nav>
        <ul>
            <li> 
                <a href = '{% url 'index' %}'> inicio </a>
            </li>
            {%if user.email%}
                <li> 
                <a href = '{% url 'list' %}'> categorias </a> 
                <ul>
                {% for category in categories%}
                    <li>
                        <a href={% url 'categories' category.0 %}> {{category.1}} </a>
                    </li>
                    {% endfor%}
                </ul>
                </li>
                {% for page in pages%}
                    <li>
                    <a href={% url 'page' page.2%}>{{page.1}} </a>
                    </li>
                {% endfor%}
                <li> 
                    <a href = '{% url 'logout' %}'> LOG OUT </a>
                </li>
            {%endif%}
        
            <li> 
                <a href = '{% url 'registro' %}'> registro </a>
            </li>
            <li> 
                <a href = '{% url 'login' %}'> LOGIN </a>
            </li>
            
        </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>    
            <span class="relleno"></span>   
            <span class="esquina-derecha"></span>  
        </div> 

        <div id="content">
            <div class="box">
                {% block title%}
                <h2 class = 'title'> titulo de prueba</h2>
                {% endblock %}
                <br>
                {% block content%}
                <strong>contenido por defecto</strong>
                {% endblock %}
            </div>
        </div>

        <footer>master en python curso
            - {% now 'Y/m/d'%}
        </footer>
    </body>
</html>
